<div class="courses-panel">
  <div class="header">
    <h2 class="title">All Courses</h2>

    <button mat-mini-fab color="accent" routerLink="/create-course">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="!urlCourseId; else oneCourse">
    <mat-tab-group>
      <mat-tab label="Beginners">
        <courses-card-list
          [courses]="beginnersCourses$ | async"
          (courseEdited)="reloadCourses($event)"
          (courseDeleted)="reloadCourses($event)"
        ></courses-card-list>
      </mat-tab>
      <mat-tab label="Advanced">
        <courses-card-list
          [courses]="advancedCourses$ | async"
          (courseEdited)="reloadCourses($event)"
          (courseDeleted)="reloadCourses($event)"
        ></courses-card-list>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

  <ng-template #oneCourse>
    <mat-tab-group>
      <mat-tab label="One Course">
        <courses-card-list
          [courses]="filterCourse$ | async"
          (courseEdited)="reloadCourses($event)"
          (courseDeleted)="reloadCourses($event)"
        ></courses-card-list>
    </mat-tab>
    </mat-tab-group>
  </ng-template>
</div>
